$divider-orange-color: rgb(207, 154, 102);
$divider-orange-shadow-color: rgba(206, 156, 102, 0.9);
$divider-purple-color: rgb(81, 67, 142);
$divider-purple-shadow-color: rgba(86, 72, 152, 0.9);
$divider-red-color: rgb(202, 13, 13);
$divider-red-shadow-color: rgba(210, 24, 24, 0.9);
$divider-blue-color: rgb(123, 201, 226);
$divider-blue-shadow-color: rgba(41, 141, 171, 0.9);

@mixin divider($base-color: rgb(207, 154, 102), $shadow-color: rgba(206, 156, 102, 0.9)) {
    height: 30px;
    width: 3px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid $base-color;
    border-radius: 10px;
    background-color: $base-color;
    -webkit-box-shadow: 0px 0px 10px 1px $shadow-color;
    -moz-box-shadow: 0px 0px 10px 1px $shadow-color;
    box-shadow: 0px 0px 10px 1px $shadow-color;
}

.schedule-date {
    color: rgb(158, 156, 169);
    margin: 20px;
}

.schedule-item {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    .time {
        p {
            margin: 0px;
            padding: 0px;
        }

        p:nth-child(1) {
            font-size: 1.2em;
            font-weight: bolder;
            color: rgb(81, 67, 142);
        }

        p:nth-child(2) {
            font-size: 0.6em;
            color: rgb(209, 209, 217);
            vertical-align: text-top;
        }
    }

    .divider-orange {
        @include divider
    }

    .divider-purple {
        @include divider($base-color: rgb(81, 67, 142), $shadow-color: rgba(86, 72, 152, 0.9))
    }

    .divider-red {
        @include divider($base-color: rgb(202, 13, 13), $shadow-color: rgba(210, 24, 24, 0.9));
    }

    .divider-blue {
        @include divider($base-color: rgb(123, 201, 226), $shadow-color: rgba(41, 141, 171, 0.9));
    }

    .informations {
        p {
            margin: 0px;
            padding: 0px;
        }

        p:nth-child(1) {
            color: rgb(158, 156, 169);
            font-size: 0.8em;
        }

        p:nth-child(2) {
            color: black;
            font-size: 0.8em;
        }
    }
}